 <div id="page">
        <header class="container">
            <div class="navbar navbar-default" id="menu">
                <div class="navbar-header">
                    <button class="btn btn-success navbar-toggle"></button>
                    <div id="logo">
                        <h4>Explore Foursquare</h4>
                    </div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#/explore">Explore</a></li>
                        <li><a href="#/places">My Places</a></li>
                        <li><a href="#/about">About</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <section class="container" id="body">
            <div></div>
        </section>
 
        <hr />